.modal .modal-footer .modal-notice {
    float: left;
}
.modal .modal-close:hover {
    color: #555;
}
.modal .modal-content, .modal .modal-footer {
    padding: 20px;
}
.modal .modal-footer {
    background: #3f4a59 none repeat scroll 0 0;
}
.modal .modal-footer::after {
    clear: both;
    content: " ";
    display: table;
}
.modal .modal-footer p {
    color: #b3bfcf;
    font-size: 10px;
    margin-bottom: 0;
}
.modal .modal-footer p a:not(.btn) {
    color: inherit;
    text-decoration: underline;
}
.modal .modal-footer p a:hover:not(.btn) {
    color: red;
}
.modal .modal-footer .modal-notice {
    float: left;
}
.modal .modal-footer .modal-cta {
    float: right;
}
.wmd-preview pre {
    word-wrap: normal;
}
#footer {
    padding-top: 20px;
}
#footer #footer-menu {
    line-height: 1.7em;
    margin-bottom: 1.5em;
}
#footer #footer-menu a {
    margin: 0;
}
#footer #footer-menu a.more {
    font-weight: bold;
}
#footer #footer-menu .top-footer-links a {
    margin: 0 0.8em 0 0;
}
#footer #copyright {
    border: medium none;
    color: #777;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
}
#footer #copyright a {
    text-decoration: none;
}
#footer #footer-flair {
    margin: -40px 0 0;
    padding: 0;
}
#footer #svnrev {
    color: #ccc;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: left;
}
#footer #footer-sites {
    clear: both;
    margin: 1.5em auto;
    width: 1000px;
}
#footer th, #footer td {
    font-size: 0.9em;
    margin: 0;
    padding: 0 15px 0 0;
    text-align: left;
    text-transform: uppercase;
    width: 130px;
}
#footer th {
    color: #777;
    line-height: 1.3;
    padding-bottom: 1em;
}
#footer td {
    vertical-align: top;
}
#footer li {
    font-size: 1em;
    line-height: 1.3em;
    list-style: outside none none;
    margin-bottom: 10px;
    text-transform: none;
}
#footer ol {
    margin: 0;
}
.footerwrap {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;
    text-align: left;
    width: 1000px;
}
#footer {
    clear: both;
}
#footer-menu {
    float: left;
}
#footer-flair {
    float: right;
    text-align: right;
}
#footer-flair a {
    display: inline-block;
    text-indent: -999999em;
    vertical-align: top;
}